<!-- AppComponent template
     Sets up main header and nav in the app and common router-outlet 
-->
<div id="container" class="ms-font-m">
    <!-- Common Header-->
    <div class="ms-Grid">
        <div class="ms-Grid-row ms-fontColor-white">
            <div class="ms-Grid-col ms-u-sm12 ">
                <command-bar [title]="title"></command-bar>
            </div>
        </div>
    </div>
    <!-- Scope filter -->
    <div id="filter">
        Scope: <input type="text" />
    </div>

    <!-- SPA pages outlet -->
    <router-outlet></router-outlet>

    <!-- Nav menu -->
    <div class="ms-Grid-row">
        <div class="ms-Grid-col ms-u-sm12">
            <ul class="ms-List">
                <li *ngFor="let route of navRoutes">
                    <a class="ms-link" [routerLink]="[route.path]">{{route.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>